<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Kick-Start Tech Solutions</title>
  
  <!-- Bootstrap core CSS -->
  <link href="bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="scrolling-nav.css" rel="stylesheet">

</head>
<style type="text/css">
  .background {
    background-image: url("assets/pexelsLap.jpeg");
    background-size: cover;
  }
  </style>

<body class="background" id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a href="index"><img src="assets/ksglobe.jpg" width="120" height="100%" title="Home"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
          
<% if user_signed_in? %>
   <font color ='yellow'>Logged in as &nbsp;&nbsp;
    <strong><%= current_user.email %></strong></font>
    <%= link_to 'Edit profile', edit_user_registration_path  %></br>
    <%= link_to "Logout", destroy_user_session_path, method: :delete%>
    <% else %>
    <%= link_to "Sign up", new_user_registration_path %>
    <%= link_to "Login", new_user_session_path %>
<% end %>
          

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="signup">Sign-Up/Sign-in</a>
          </li>

   
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white" >
    <div class="container text-center">
      <h1>KickStart Tech Solutions</h1>
      <p class="lead">

      It's A landing software companey in Hydrabad</p>
    </div>
  </header>


  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About KickStart Tech-Solutions</h2>
          <p class="lead">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>KickStart</b>- Vision with values is an upcoming software and APP development firm established by group of young visionary professionals located in Hyderabad, Telangana. We have worked on Ruby, Ruby on Rails, IOT, Android and AI in developing the projects. Ongoing projects are in full pace towards completion from clients based from US and India.Today, practically anything built that uses electricity has software, either embedded in a gadget to make it “intelligent,” or installed like programs in mobile devices and computers.</p>
           </div>
      </div>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Our Best Services </h2>
          <p class="lead">
            <li>Conceive software products on Ruby on Rails.</li>
            <li>Develop those products.</li>
            <li>Fully Responsive</li>
            <li>Support and maintainence of the products.</li>
            <li>IT staff augmentation.</li>

          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 font color="yellow">Get In Touch</h2>
          <p class="lead">
            &nbsp;&nbsp;&nbsp;
            <li> KS Tech-Solutions &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  -&nbsp;&nbsp;&nbsp;040-217217</li>
            <li> Project Maneger &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -&nbsp;&nbsp;&nbsp;+91-9000345345</li>
            <li> TeamLead &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;+91-9494942424</li>
              <p>&nbsp;</p>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <li>E-mailID-kickstart@tech.com </li>


            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">KS Tech-Solutions, PraagathiNagar, JNTU, Hydrabad,500006 &copy; 
       <a href="index">www.kickstart.soft.in </a></p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="assets/jquery.min.js"></script>
  <script src="assets/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="assets/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="scrolling-nav.js"></script>

</body>

</html>
